@font-face {
    font-family: nord;
    src: url(../styles/fonts/Nord/Nord_Light.otf);
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 90%;
	line-height: 1.5em;
	margin: 0 auto;
	color: #444444;
	background-color: #eee;
	background-image:url('../images/tile.jpg');
	background-repeat:repeat;
}


#headline h1, #headline h2{
  text-align: right;
  color: #fff;

}

#headline h2{
  font-size: 1em;
  text-shadow: 1px 1px 4px #222;
  margin-top: 5px;
}

#headline h1 a{
	text-decoration: none;
	background-color: #000;
	color: #fff;
	font-family: nord;
	font-size: 1.3em;
	font-weight: normal;
	padding: 10px 10px 0 10px;
}

#headline h1{
	line-height: 1;
	margin-bottom: 0px;
}

h2, h3, h4 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	color: #444444;
}

.togglebutton {

}

.content {
	background: #fff;
	padding: 10px 10px 20px 10px;
	margin-bottom: 20px;
	display: none;
}

section {
	margin-bottom: 10px;
}

.content p {
	margin-top: 0px;
}

section h2 {
	margin: 0px;
	padding: 10px;
}

section h2 a, section h2 a:hover{
	color: #fff;
}

h2 {
	color: #fff;
}

#join h2{ background: #889988 }
#howwork h2{ background: #77aadd }
#contact h2{ background: #b23339 }
/* #yellow h2{ background: #e3c76b }  not used atm */
#meetings h2{ background: #2664a8 }

#join .content a{ color: #889988 }
#join .content a:hover{ color: #889988 }
#howwork .content a{ color: #77aadd }
#howwork .content a:hover{ color: #77aadd }
#contact .content a{ color: #b23339 }
#contact .content a:hover{ color: #b23339 }
/* #pubs a{ color: #e3c76b } not used atm */
/* #pubs a:hover{ color: #e3c76b } not used atm */
#meetings .content a{ color: #2664a8 }
#meetings .content a:hover{ color: #2664a8 }

#joinbuttons{
	margin: 10px 0;
	width: 100%;
	text-align: center;
}

#join .go {
	-moz-box-shadow: 0px 0px 4px 0px #dbddde;
	-webkit-box-shadow: 0px 0px 4px 0px #dbddde;
	box-shadow: 0px 0px 4px 0px #dbddde;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #889988;
	display:inline-block;
	cursor:pointer;
	color: #444;
	width: 40%;
	padding:10px;
	text-align: center;
	text-decoration:none;
}

#join .go:hover {
	background: #889988;
	color: #fff;
}

a {
	color: #5856D6;
	text-decoration: none;
	position: relative;
	-webkit-transition: color .1s linear, background-color .1s linear;
	   -moz-transition: color .1s linear, background-color .1s linear;
	     -o-transition: color .1s linear, background-color .1s linear;
	        transition: color .1s linear, background-color .1s linear;
}
a:hover {
	color: #C644FC;
	text-decoration: none;
}
a:active {
	top: 1px;
}
img {
	max-width: 100%;
}

br{
	display: none
}

.blank_ul{
	list-style-type: none;
	padding: 10px;
}

#header {
  padding: 0.8em;
  color: white;
  background-image: url("../images/background.jpg");
  background-size: cover;
  height: 50%;
  padding: 40px 5%;
  
}

#colorbar ul li:nth-child(1), #colorbar ul li:nth-child(6) { background-color: #889988 }
#colorbar ul li:nth-child(2), #colorbar ul li:nth-child(7) { background-color: #77aadd }
#colorbar ul li:nth-child(3), #colorbar ul li:nth-child(8) { background-color: #ccbbaa }
#colorbar ul li:nth-child(4), #colorbar ul li:nth-child(9) { background-color: #b23339 }
#colorbar ul li:nth-child(5), #colorbar ul li:nth-child(10) { background-color: #e3c76b }

#colorbar{
	height: 10px;
	width: 100%;
	margin-bottom: 20px;
}

#colorbar ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

#colorbar ul li {
	height: 10px;
	width: 10%;
	float: left;
}

#footer {
   width:100%;
}

#footer .container{
   width:100%;
   background: #2B2B2B;
   margin: 20px 0;
   padding: 10px 20px;
}

#footer p{
	color: #fff;
}

#twittersvg{
	width: 60px;
	height: 60px;
	background-color: #4099ff;
	padding: 10px;
}

@media (min-width: 600px) {

    #main {
      margin: auto;
      max-width: 800px;
      display: block;
    }

    #header {
      padding: 80px 5%;
    }

    .two-col {
    	float: left;
		width: 50%;
	}

	.content {
		background: #fff;
		margin: 0 10px;
		padding-bottom: 20px;
	}

	br {
		display: block;
		clear: both;
	}

	#headline h1{
		margin: auto;
		text-align: center;
	}

	#headline h1 a{
		padding: 15px 15px 5px;
		font-size: 2em;
	}

	#headline h1, #headline h2{
	  text-align: center;
	}

	#headline h2{
	  font-size: 1.2em;
	}

	section h2 {
		margin: 0 10px;
	}

	.content {
		display: block;
	}

	.togglebutton.fa {
		display: none;
	}

}


/*@font-face {
    font-family: 'Proxima Nova';
    src: url('_fonts/proximanova-reg.eot');
    src: url('_fonts/proximanova-reg.eot?#iefix') format('embedded-opentype'),
         url('_fonts/proximanova-reg.woff') format('woff'),
         url('_fonts/proximanova-reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('_fonts/proximanova-bold.eot');
    src: url('_fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
         url('_fonts/proximanova-bold.woff') format('woff'),
         url('_fonts/proximanova-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}*/

